<h1><%= t('view.page_details.new') %></h1>
<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
    <h2><%= @task.errors.count %><%= t('errors.template.header.other') %></h2>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title, placeholder: t('view.task_title') %>
  </div>
  <div>
    <%= form.label :content %>
    <%= form.text_field :content, placeholder: t('view.task_content') %>
  </div>
  <div>
    <%= form.label :state %>
    <%= form.select :state, {"未着手":"未着手", "着手":"着手", "完了":"完了"}, {include_blank: t('choice')} %>
  </div>
  <div>
    <%= form.label :priority %>
    <%= form.select :priority, Task.priorities.keys.to_a, {include_blank: t('choice')} %>
  </div>
  <div>
    <%= form.label :label_ids %>
    <%= form.collection_check_boxes(:label_ids, Label.all, :id, :label) %>
  </div>
  <div>
    <%= form.label :deadline %>
    <%= form.datetime_field :deadline, placeholder: t('view.task_deadline') %>
  </div>
  <%= form.submit t('view.button.create') %>
<% end %>