<h1><%= t('view.heading.show') %></h1>
  <p><%= t('view.task_name') %>:<%= @task.name %></p>
  <p><%= t('view.task_conetnt') %>：<%= @task.content %></p>
  <p><%= t('view.task_state') %>：<%= @task.state %></p>
  <p><%= t('view.task_deadline') %>：<%= @task.deadline %></p>
<%= link_to t('view.page_details.list'), tasks_path %>