<h1>詳細</h1>
<p><%= @user.name %>のページ</p>
<div>
  メールアドレス:<%= @user.email %>
</div>
<% if @user.id == current_user.id %>
<div>
  <%= link_to '自分のタスク一覧', task_index_user_path %>
</div>
<div>
  <%= link_to "ユーザ編集", edit_user_path %>
</div>
<div>
  <%= link_to "ユーザ削除", user_path, method: :delete %>
</div>
<% end %>