<%= form_with(model: @user, local: true, url: admin_user_path ) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <p>name : <%= f.text_field :name %></p>
    <p>email : <%= f.text_field :email %></p>
    <p>password : <%= f.password_field :password %></p>
    <p>password_confirmation : <%= f.password_field :password_confirmation %></p>
    <%= f.submit "編集" %>
  </div>
<% end %>